body {
    background-color: #DBDBDB;
    padding-top: 50px;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width:992px){
    .navbar-brand-centered {
        position: absolute;
        left: 45%;
        display: inline-block;
        margin-right: 5%;
        /*width: 500px;*/
        /*text-align: center;*/
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

@media screen and (max-width:991px){
    .navbar-brand-centered {
        float: left;
        left: 5%;
        display: inline-block;
    }
    .navbar-fixed-top .navbar-nav>li {
        display: inline-block;
        margin-right: -20px;
        margin-left: -20px;
    }


}

@media screen and (max-width:770px){
    .navbar-fixed-top .navbar-nav>li {
        display: block;
        text-align: center;
    }
    body {
        text-align: center;
    }
    .jumbotron {
        margin-top: 40px;
    }
    #sign-up {
        position: absolute;
        left: 50%;
        margin-left: -100px !important;
        display: block;
    }
}

@media screen and (max-width:320px){
    .container {
        width: 320px;
    }


}

#logo {
    max-width: 300px;
}

/*.navbar-brand-centered {
    position: absolute;
    left: 50%;
    margin-left: -150px !important;
    display: block;
}*/

/*.brand {
    position: absolute;
    left: 50%;
    margin-left: -150px !important;
    display: block;

}*/

.navbar-fixed-top .navbar-nav>li>a {/** Menu Items in Nav Bar */
    color: #7899be;
    padding: 30px;
    font-size: 18px;
    display: block;
}
a {
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    border: none;
}

.navbar-center {
    margin: auto;
}


.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    background-color: black;
}

.navbar-toggle {
    margin-top: 22px;
}


.jumbotron {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.row {
    padding-left: 5%;
    padding-right: 5%;
}

#row-1 {
    padding-bottom: 80px;
}

#row-3 {
    padding-top: 80px;
    padding-right: 8%;
}

#row-4 {
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 200px;
}

#row-6 {
    padding-top: 40px;
}

#row-footer {
    padding-left: 30%;
    padding-right: 30%;
}

#col-1 {
    margin-top: 80px;
}

#col-2 {
    margin-top: 80px;
}

#col-3 {
    text-align: center;
}

#col-4 {
    text-align: center;
}

#col-5 {
    text-align: center;
}

#sign-up {
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px;
}

h2  {
    font-size: 25px;
}


#logos-1, #social-media {
    text-align: center;
}

#logos-1 div, #social-media div {
  display: inline-block;
  padding: 20px;
}


#metadata {
    text-align: center;
    font-size: 40px;
}

#dart-team {
    font-size: 40px;
}

.name {
    font-style: italic;
    font-weight: bold;
}

.team {
    width: 350px;
    padding-left: 60px;
    padding-bottom: 100px;
}

#jumbotron-header {
    font-size: 40px;
}

.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
