p {
    margin: 1em 0;
    font-size: 1.5em;
}

body {
    background-color: #DBDBDB;
    padding-top: 50px;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 30px;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 30px;
}
h3 {
    font-size: 18px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
}

#logo { /** logo starts large at fullscreen */
    max-width: 400px;
    margin-top: -4px;
    vertical-align: middle;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    border: none;
}

.navbar-fixed-top .navbar-nav>li>a {/** Menu Items in Nav Bar */
    color: #7899be;
    padding: 30px;
    font-size: 18px;
    display: block;
    margin-top: 12px;
}
/*.navbar-fixed-top .navbar-nav>li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}*/


/*.navbar-center {
    margin: auto;
}*/


.navbar-collapse.collapse.in, .navbar-collapse.collapsing { /** Mobile Menu Drop Down*/
    background-color: black;
}

.navbar-toggle { /** Mobile Menu Button*/
    margin-top: 12px;
}


.jumbotron { /** Featured section for DSP's */
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

#jumbotron-header {
    font-size: 40px;
}

.row {
    padding-left: 5%;
    padding-right: 5%;
}

#row-1 {
    padding-bottom: 80px;
}

#row-3 {

    padding-top: 80px;
    padding-right: 8%;
}

#row-4 {
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 200px;
}

#row-6 {
    padding-top: 40px;
}

#row-footer {
    padding-left: 30%;
    padding-right: 30%;
}

#col-1, #col-2 {
    margin-top: 80px;
}

#col-3, #col-4, #col-5 {
    text-align: center;
}

#sign-up {
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px;
}

#logos-1, #social-media {
    text-align: center;
}

#logos-1 div, #social-media div, #team-members div {
  display: inline-block;
  padding: 20px;
}


#metadata, #dart-team {
    font-size: 40px;
}

.name {
    font-style: italic;
    font-weight: bold;
}

.team {
    width: 350px;
    padding-left: 60px;
    padding-bottom: 100px;
}

.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

/**---------------RESPONSIVE DESIGN--------------*/

@media screen and (min-width:1200px){
    .navbar-fixed-top .navbar-nav>li {
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width:991px) and (max-width: 1199px){
    .navbar-brand {
        margin-left: -10px !important;
        display: block;
    }
    .navbar-fixed-top .navbar-nav>li {
        display: inline-block;
        margin-right: -5px;
        margin-left: -5px;
        text-align: center;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -80px;
    }
}

@media screen and (min-width: 770px) and (max-width: 990px){
    .navbar-brand {
        float: left;
        left: 5%;
        display: inline-block;
    }
    .navbar-fixed-top .navbar-nav>li {
        display: inline-block;
        margin-right: -20px;
        margin-left: -20px;
    }
    #logo { /** scales logo down to fit */
        max-width: 300px !important;
    }
    .navbar-fixed-top .navbar-nav>li>a {/** Menu Items in Nav Bar */
        margin-top: 0px;
    }
}
@media screen and (min-width: 501px) and (max-width: 990px){
    .navbar {
        height: 60px;
    }
}

@media screen and (max-width:769px){
    .navbar-fixed-top .navbar-nav>li {
        display: block;
        text-align: center;
        margin-right: -20px;
        margin-left: -20px;
    }
    .jumbotron {
        margin-top: 40px;
    }
    #logo { /** scales logo down to fit */
        max-width: 300px !important;
    }
    #sign-up {
        position: absolute;
        left: 50%;
        margin-left: -100px !important;
        display: block;
    }
    #team-members {
        text-align: center;
    }
}

@media screen and (max-width:500px){ /** Scale for mobile */
    #logo {
        display: block;
        /*margin-top: 22px !important;*/
        max-width: 30%;
        max-height: 30px;
    }
    .navbar {
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .navbar-toggle { /** Mobile Menu Button*/
        margin-top: 8px;
    }
}
